<!DOCTYPE html>
<html>
<head>
    <title>Subject Input Form</title>
</head>
<body>
    <h2>Enter Your Subjects</h2>
    <form action="/submit" method="post">
        <label for="subject1">Subject 1:</label>
        <input type="text" id="subject1" name="subject1"><br><br>

        <label for="subject2">Subject 2:</label>
        <input type="text" id="subject2" name="subject2"><br><br>

        <label for="subject3">Subject 3:</label>
        <input type="text" id="subject3" name="subject3"><br><br>

        <label for="subject4">Subject 4:</label>
        <input type="text" id="subject4" name="subject4"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
